#postContent:invalid {
  box-shadow: none;
}

#postContent:-moz-submit-invalid {
  box-shadow: none;
}

#postContent:-moz-ui-invalid {
  box-shadow:none;
}

#postContent{
  min-height: 15vh;
  max-height: 500px;
  width: 100%;
}

#tweets-container{
  border: 1px solid #ccc;
  border-bottom: none;
  border-radius: 2px;
  padding: 1vh 1vh;
}

#tweets-container .tweet{
  position: relative;
  z-index: 1;
  border-bottom:1px solid #ccc;
  border-radius: 2px;
}

.tweet .Profile{
  position: relative;
  width: fit-content;
  z-index: 2;
}

.tweet-content{
  overflow: auto;
}

.retweet {
  overflow: auto;
  position: relative;
  z-index: 2;
  border: 1px solid #ccc;
  border-radius: 2px;
}
.retweet .link{
  z-index: 3;
}

.tweet .btn-group button{
  color: #ccc;
  background-color: white;
  border: none;
  box-shadow: none;
  z-index: 2;
  overflow: auto;
}

.tweet .btn-group button:hover{
  background-color: #ccc;
  size: fit-content;
  color: skyblue;
}
